* {
    font-family: 'Anek Devanagari', sans-serif;

}
/**::-webkit-scrollbar{
    width: 0;
}*/
:root {
    --header-height: 80px;
    --content-top-margin: 100px;
    --basic-color: #2AABE4;
    --color2: #FFCD24;
    --color3: #9DC8E4;
}

html {
    overflow-y: scroll;
}
.header {
    display: flex;
    background-color: var(--basic-color);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    padding: 0;
    height: var(--header-height);
    box-shadow: 0 0 20px #494949;
}

.content {
    margin-top: var(--content-top-margin);
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - (var(--content-top-margin) + 2 * var(--header-height)) + 30px);
    margin-bottom: 50px;
    /*min-height: calc(100vh - (2 * var(--content-top-margin) + var(--header-height)));*/
}

.logo {
    margin: auto 0 auto 30px;
    padding: 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}
.nav {
    padding: 0;
    width: 50%;
    margin: auto;
}
.nav-item {
    user-select: none;
    outline: none;
    text-align-all: center;
    display: inline;
    margin: 20px;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav-item :hover{
    color: darkgray;
}
.nav-item :active {
    color: grey;
}
.footer {
    background-color: var(--basic-color);
    width: 100%;
    position: absolute;
    left: 0;
    padding: 0;
    height: var(--header-height);
    box-shadow: 0 0 10px #494949;
    display: block;
}
.footer-content {
    display: flex;
    width: 50%;
    margin: auto;
    height: 100%;
}
.footer-social {
    margin: auto 0 auto auto;
}
.footer-social img {
    height: 30px;
    width: 30px;
}
.footer-info {
    margin: auto auto auto 0;
}
.footer a img {
    margin: 0;
}