* {
    font-family: 'Anek Devanagari', sans-serif;

}
/**::-webkit-scrollbar{
    width: 0;
}*/
:root {
    --header-height: 80px;
    --content-top-margin: 90px;
    --basic-color: #2AABE4;
    --color2: #FFCD24;
    --color3: #9DC8E4;
}

html{
    overflow-y: scroll;
}
.header {
    display: block;
    background-color: var(--basic-color);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    padding: 0;
    height: var(--header-height);
    box-shadow: 0 0 20px #494949;
}
.content {
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--content-top-margin);
    height: 100%;
    min-height: calc(100vh - (var(--content-top-margin) + var(--header-height)));
}

.nav {
    position: relative;
    top: 25%;
    left: 25%;
    padding: 0;
    width: 50%;
    margin: 0;
}
.nav-item {
    user-select: none;
    outline: none;
    text-align-all: center;
    display: inline;
    margin: 20px;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav-item :hover{
    color: darkgray;
}
.nav-item :active {
    color: grey;
}
.footer {
    display: block;
    background-color: var(--basic-color);
    left: 0;
    width: 100%;
    position: absolute;
    padding: 0;
    height: var(--header-height);
    box-shadow: 0 0 10px #494949;
}