@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('style_fonts.css');

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

:root {
    --header-height: 80px;
    --content-top-margin: 100px;
    /*--basic-color: #d3c4ff;

     */
    --basic-color: #8DAB66;
    --color2: #EAC91D;
    --color3: #c0abff;
    --textcolor: black;
    font-family: 'ralewayregular', serif;
}

body {
    display: grid;
    grid-template-areas:
    "header header header"
    ". content ."
    "footer footer footer";
    margin: 0;
    font-size: 20px;
}

.header {
    display: grid;
    margin: 0;
    padding: 0;
    background-color: var(--basic-color);
    box-shadow: 0 0 5px #494949;
    position: sticky;
    grid-area: header;
    justify-items: center;
    align-items: center;
}

.logo {
    grid-column: 1 / -1;
    grid-row: 1;
    margin-left: 20px;
    font-family: 'igra_sansregular', sans-serif;
    font-size: 28px;
    justify-self: start;
}

.logo a {
    color: var(--textcolor);
    text-decoration: none;
}

.nav {
    grid-column: 2;
    grid-row: 1;
    visibility: visible;
    display: grid;
    grid-auto-flow: column;
    margin: 0 20px 0 0;
    justify-self: end;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

.nav-item {
    user-select: none;
    outline: none;
    text-align-all: center;
    margin: 20px 10px 20px 10px;
    justify-self: center;
    align-self: center;
}

.nav-item img {
    height: 40px;
    width: 40px;
    margin: 5px 0 0 0;
    padding: 0;
    transition: 500ms;
}
.nav-item img:hover {
    opacity: 0.7;
}

.nav-link {
    text-decoration: none;
    color: var(--textcolor);
    font-size: 24px;
    transition: 500ms;
    font-family: 'igra_sansregular', cursive;
}

.nav-item :hover {
    color: grey;
}

.nav-item :active {
    color: black;
}

.nav-panel {
    width: 320px;
    min-width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    right: -360px;
    transition: right 0.3s;
    background: var(--color3);
    z-index: 2000;
}

.nav-toggle {
    display: none;
    margin: 10px;
    background: inherit;
    color: var(--textcolor);
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1;
    z-index: 2001;
    transition: color .25s ease-in-out;
}

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}

.nav-panel ul {
    list-style: none;
    padding: 0;
}

.nav-panel ul li a {
    margin-left: 50px;
    font-size: 24px;
    color: whitesmoke;
    font-family: 'igra_sansregular', cursive;
    text-decoration: none;
}

.nav-checkbox {
    position: absolute;
    display: none;
}

.greeting-grid {
    grid-auto-flow: column;
    display: grid;
}
.greeting-grid img {
    grid-row: 1;
    grid-column: 2;
    width: 300px;
    margin: 20px 0 0 20px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--basic-color);
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}
h1 {
    font-size: 32px;
    font-family: 'igra_sansregular', sans-serif;
}
.highlighted {
    color: var(--basic-color);
    font-family: 'ralewaybold', sans-serif;
}

.yellow-border {
    padding: 10px;
    border-style: solid;
    border-color: var(--color2);
    width: fit-content;
}
.job-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.job-list p {
    font-family: ralewaybold, sans-serif;
}
.job-list div {
    border: 3px solid var(--basic-color);
    border-radius: 40px 40px 40px 0;
    padding: 30px 10px 30px 30px;
    margin: 20px;
}
.job-list ul {
    margin: 0 0 10px 0;
    padding: 10px;
}

.education li {
    margin: 20px 0 20px 0;
}
.awards .grid {
    display: grid;
    grid-template-columns: fit-content(100%) 200px fit-content(100%);
    align-items: center;
}
.awards .year {
    grid-column: 1;
    font-family: ralewaybold, sans-serif;
    color: var(--basic-color);
    font-size: 24px;
}
.awards .line {
    width: 100px;
    transform: rotate(90deg);
    justify-self: center;
    grid-column: 2;
}
.awards .text {
    grid-column: 3;
    margin-top: 20px;
}

[id='nav-toggle'] {
    position: absolute;
    display: none;
}

[id='nav-toggle']:checked ~ .nav-panel {
    right: 0;
    box-shadow: 4px 0 20px 0 rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

[id='nav-toggle']:checked ~ .nav-toggle:after {
    content: '\2715';
}

.content {
    display: grid;
    grid-auto-flow: row;
    background-color: white;
    min-height: calc(105vh - 2 * var(--header-height));
    margin: 20px;
    grid-area: content;
    width: 90%;
    grid-auto-rows: fit-content(100%);
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.post {
    word-wrap: break-word;
    border-bottom: 1px solid black;
    width: inherit;
    justify-self: center;
    /*max-width: 96vw;*/
}

.footer {
    background-color: var(--basic-color);
    padding: 0;
    box-shadow: 0 0 5px #494949;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-area: footer;
    min-height: 80px;
    display: grid;
    grid-template-columns: auto 25% 25% auto;
}

.footer-social img {
    height: 30px;
    width: 30px;
}

.footer-info {
    color: var(--textcolor);
    grid-column: 2;
    justify-self: start;
    align-self: center;
}

.footer-social {
    grid-column: 3;
    justify-self: end;
    align-self: center;
    transition: 0.5s;
}

.footer-social:hover {
    opacity: 0.7;
}

@media (max-width: 1100px) {
    body {
        grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    }

    .header {
        grid-template-columns: auto auto;
        min-height: 60px;
    }

    .logo {
        display: inline;
        grid-column: 1;
    }

    .logo p {
        display: inline;
        font-size: 32px;
    }

    .nav {
        display: none;
    }

    .nav-toggle {
        display: inline;
        cursor: pointer;
        grid-column: 2;
        justify-self: end;
    }

    .footer {
        grid-template-columns: auto auto;
    }

    .footer-info {
        grid-column: 1;
        justify-self: center;
    }

    .footer-social {
        grid-column: 2;
        justify-self: center;
    }
}