@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

html {
    overflow-y: scroll;
    overflow-x:hidden;
}

:root {
    --header-height: 80px;
    --content-top-margin: 100px;
    --basic-color: white;
    --color2: #FFCD24;
    --color3: #9DC8E4;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: grid;
    grid-template-areas:
    "header header header"
    ". content ."
    "footer footer footer";

    margin: 0;
}
.header {
    display: grid;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    box-shadow: 0 0 5px #494949;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    top: 0;
    position: sticky;
    grid-area: header;
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
    align-items: center;
}
.logo {
    margin-left: 20px;
    font-family: 'Poiret One', cursive;
    font-size: 32px;
    justify-self: center;
    white-space: nowrap;
}
.logo a {
    color: grey;
    text-decoration: none;
}
.logo p {
    margin: 0;
    font-size: 24px;
    font-family: 'Poiret One', cursive;
}
.nav {
    visibility: visible;
    display: grid;
    grid-auto-flow: column;
    margin: 0;
    justify-self: start;
    padding: 0;
    list-style-type: none;
}
.nav-item {
    user-select: none;
    outline: none;
    text-align-all: center;
    margin: 20px;
}
.nav-link {
    text-decoration: none;
    color: darkgray;
    font-size: 24px;
    transition: 500ms;
    font-family: 'Poiret One', cursive;
}
.nav-item :hover {
    color: grey;
    transform: scale(1.2);
}
.nav-item :active {
    color: black;
}
.nav-panel {
    width: 320px;
    min-width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    right: -360px;
    transition: right 0.3s;
    background: gray;
    z-index: 2000;
}
.nav-toggle {
    display: none;
    margin: 10px;
    background: inherit;
    color: #dadada;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1;
    z-index: 2001;
    transition: color .25s ease-in-out;
}
.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}
.nav-panel ul {
    list-style: none;
    padding: 0;
}
.nav-panel ul li a {
    margin-left: 50px;
    font-size: 24px;
    color: whitesmoke;
    font-family: 'Poiret One', cursive;
    text-decoration: none;
}
.nav-checkbox {
    position: absolute;
    display: none;
}
[id='nav-toggle'] {
    position: absolute;
    display: none;
}
[id='nav-toggle']:checked ~ .nav-panel {
    right: 0;
    box-shadow:4px 0 20px 0 rgba(0,0,0, 0.5);
    overflow-y: auto;
}
[id='nav-toggle']:checked ~ .nav-toggle:after {
    content: '\2715';
}

.content {
    background-color: white;
    min-height: calc(105vh - 2 * var(--header-height));
    margin: 10px auto 10px;
    grid-area: content;
    word-wrap: break-word;
    max-width: 100vh;
}
.footer {
    background-color: whitesmoke;
    padding: 0;
    box-shadow: 0 0 5px #494949;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-area: footer;
    min-height: 80px;
    display: grid;
    grid-template-columns: auto 25% 25% auto;
}
.footer-social img {
    height: 30px;
    width: 30px;
}

.footer-info {
    grid-column: 2;
    justify-self: start;
    align-self: center;
}
.footer-social {
    grid-column: 3;
    justify-self: end;
    align-self: center;
}

@media (max-width: 1100px){
    body {
        grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    }
    .header {
        grid-template-columns: auto auto;
    }
    .logo {
        display: inline;
        grid-column: 1;
    }
    .logo p {
        display: inline;
        font-size: 32px;
    }
    .nav {
        display: none;
    }
    .nav-toggle {
        display: inline;
        cursor: pointer;
        grid-column: 2;
        justify-self: end;
    }
    .footer {
        grid-template-columns: auto auto;
    }
    .footer-info {
        grid-column: 1;
        justify-self: center;
    }
    .footer-social {
        grid-column: 2;
        justify-self: center;
    }
    .content {
        margin-left: 20px;
    }
}