<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <link th:href="@{/style_grid.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari&family=Open+Sans&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
</head>
<body>
<input th:fragment="nav-checkbox" type="checkbox" id="nav-toggle" hidden="">
<nav th:fragment="nav" class="nav-panel">
    <ul>
        <li><label for="nav-toggle" class="nav-toggle" onclick=""></label>
        </li>
        <li><a href="/news">Новости</a>
        </li>
        <li><a href="/photo">Фото</a>
        </li>
        <li><a href="/videos">Видео</a>
        </li>
        <li><a href="/contacts">Контакты</a>
        </li>
    </ul>
</nav>
<header th:fragment="header" class="header">
    <div class="logo"><a href="/index">Педагогический блог
        <p>Татьяны Москаленко</p></a></div>
    <ul class="nav">
        <li class="nav-item"><a href="/news" class="nav-link">Новости</a></li>
        <li class="nav-item"><a href="/photo" class="nav-link">Фото</a></li>
        <li class="nav-item"><a href="/videos" class="nav-link">Видео</a></li>
        <li class="nav-item"><a href="/contacts" class="nav-link">Контакты</a></li>

    </ul>
    <label for="nav-toggle" class="nav-toggle" onclick=""></label>
</header>
<footer th:fragment="footer" class="footer">
    <span class="footer-info">© 2023</span>
    <div class="footer-social">
        <a href="https://vk.com/id34256761"><img th:src="@{VK_BW_Compact_Logo.png}" alt="VK"></a>
    </div>
</footer>
</body>
</html>