<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="~{fragments/template :: head}">
</head>
<body>
<th:block th:insert="~{fragments/template :: nav-checkbox}"></th:block>
<th:block th:insert="~{fragments/template :: nav}"></th:block>
<th:block th:insert="~{fragments/template :: header}"></th:block>
<div class="content">
    <div class="post">
        <div class="greeting-grid">
            <img th:src="@{profile_photo.jpg}" class="person-img">
            <h1>Здравствуйте!</h1>
            <p>
                Давайте знакомиться: меня зовут <span class="highlighted">Татьяна Александровна Москаленко</span>, я
                занимаюсь музыкальным развитием детей
                дошкольного возраста.
            </p>
            <p class="greet-text" style="grid-column: 1 / -1">Рада приветствовать вас на своем персональном сайте, на
                котором я готова поделиться опытом работы по
                музыкальному воспитанию с коллегами по дошкольному детству, родителями, студентами
                музыкально-педагогических
                учреждений.</p>
            <p class="highlighted" style="grid-column: 1 / -1">Девиз моей профессиональной деятельности:</p>
            <p class="yellow-border" style="grid-column: 1 / -1">«Люби то, что делаешь и тогда любой твой труд
                возвысится до
                творчества».</p>
        </div>

        <h1>Образование:</h1>
        <ul>
            <li>Луганское музыкальное училище 1988–1991 гг. Отдел хорового дирижирования.
                Специальность: дирижер хора, преподаватель сольфеджио, учитель музыки.
            </li>
            <li>Санкт-Петербургская государственная академия культуры 1991–1996 гг.</li>
            <li>Специальность: дирижирование. Квалификация: дирижер академического хора, преподаватель.</li>
            <li>Дополнительная профессиональная программа переподготовки «Управление образованием» г. Всеволожск, 2019
                г.
            </li>
        </ul>
        <h1>Работа:</h1>
        <ul>
            <li>МДОБУ «ДСКВ № 6» г. Всеволожск, c 2002 по настоящее время.
                Музыкальный руководитель.
            </li>
            <li>Сеть танцевальных школ «DANCECOLLECTION» г. Всеволожск, c 2010 по 2016
                Руководитель детского танцевального коллектива
            </li>
            <li>Центр детского творческого развития «Зернышко» г. Всеволожск, c 2012 по 2016
                Организатор и руководитель МУ ВРМЦ г. Всеволожск, c 2020
            </li>
            <li>Методист, руководитель РМО музыкальных руководителей ДОУ Всеволожского района</li>
        </ul>
        <h1>Награды:</h1>
        <ul>
            <li>Медаль «За заслуги в образовании» Ленинградского объединения ветеранов «Защитники Отечества», 2010 г.,
            </li>
            <li>Грамота МДОБУ «ДСКВ № 6» г. Всеволожска «За значительные успехи в организации и совершенствовании
                воспитательно-образовательного процесса, за активную творческую работу с родителями воспитанников», 2012
                г.
            </li>
            <li>Грамота Администрации муниципального образования «Всеволожский муниципальный район» Ленинградской
                области
                «За многолетний добросовестный труд в системе образования Всеволожского района, личный вклад в обучение
                и
                воспитание подрастающего поколения и в связи с празднованием Дня учителя», 2012 г.
            </li>
            <li>Почетная грамота Комитета общего и профессионального образования Ленинградской области «За многолетний
                добросовестный труд по воспитанию и обучению подрастающего поколения и в связи с празднованием Дня
                учителя»,
                2013 г.
            </li>
            <li>Благодарность за профессиональное судейство международного танцевального конкурса «Северная Пальмира»,
                2016 г.
            </li>
            <li>Благодарность за профессионализм и активное участие в деятельности сети танцевальных школ «Dance
                collection», 2016 г.
            </li>
            <li>Грамота МДОБУ «ДСКВ №6» г. Всеволожска «За многолетний добросовестный творческий труд в деле воспитания
                и
                образования детей, в связи с юбилеем структурного подразделения», 2017 г.
            </li>
            <li>Грамота за подготовку детского коллектива и участие в районном детско-юношеском фестивале «Русская
                сказка», посвященном празднику «Рождества Христова», 2017 г.
            </li>
            <li>Благодарность за высокий профессионализм, педагогический талант, ответственность, индивидуальный подход
                к
                каждому ученику и значительный вклад в развитие сети танцевальных школ «Dance collection», 2017 г.
            </li>
            <li>Благодарность «ВМЦ» и «ОФИС» за подготовку лауреата I степени на Международном музыкальном конкурсе
                «Созвучие», 2017 г.
            </li>
            <li>Медаль Общероссийской Федерации Искусств «За активную творческую деятельность», 2017 г.
                Благодарность «ВМЦ» и «ОФИС» за подготовку лауреата I степени на Всероссийском конкурсе исполнительских
                искусств «Юный артист», 2018 г.
            </li>
            <li>Благодарность главы МО «Всеволожский муниципальный район» «За многолетний добросовестный труд в системе
                образования Всеволожского района Ленинградской области», 2018 г.
            </li>
            <li>Благодарность Комитета общего и профессионального образования Ленинградской области, 2020 г.</li>
        </ul>
        </p>
    </div>
</div>
<th:block th:insert="~{fragments/template :: footer}" class="footer"></th:block>
</body>
</html>