<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="~{fragments/template :: head}">
</head>
<div class="flex-container">
    <div th:insert="~{fragments/template :: header}"></div>
    <body class="main">
    <div class="content">
        Город расположен в центральной части района в месте пересечения автодорог регионального значения 41К-064 «Дорога
        жизни» (Санкт-Петербург — Морье), 41К-078 (Санкт-Петербург — Всеволожск) и 41К-070 (Магнитная станция — Посёлок
        имени Морозова)[38].
        Расстояние до областного центра, Санкт-Петербурга — 28 км[39].
        С востока на запад через город протекает река Лубья. Северная часть города расположена на
        Румболовско-Кяселевской
        возвышенности, южная часть на Колтушской возвышенности.
        Самая высокая точка на территории города (68,13 м над уровнем моря) расположена на Румболовской горе, в 100 м к
        северу от церкви Спаса Нерукотворного Образа, самая низкая (11,75 м) — в пойме реки Лубья в районе Приютинской
        улицы[40][41].
    </div>
    <div th:insert="~{fragments/template :: footer}"></div>
    </body>
</div>
</html>