<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="~{fragments/template :: head}">
</head>
<div th:insert="~{fragments/template :: header}"></div>
<body class="main">
<div class="content">
    Первое поселение на территории нынешнего Всеволожска, раскинувшегося в долине реки Лубьи, было упомянуто ещё в
    Писцовой книге Водской пятины 1500 года — это деревня «Лубляна на речке Лубне»[9][10].
    О времени же первого картографического упоминания мнения расходятся. По версии выдвинутой историком Андреасом
    Гиппингом и поддержанной филологом А. М. Шарымовым первое картографическое упоминание[11] принадлежит Понтусу де ла
    Гарди — в 1580 году на карте Карелии, составленной после взятия Кексгольма, отмечено селение швед. Lubiaby, что в
    переводе со шведского означает — деревня Лубья[12]. По мнению же русско-шведского историка картографии Лео Багрова
    данная карта, это «Эскиз дорог района Кексгольм — Нотебург — Ниен», который составил в 1634 году шведский
    фортификационный инженер-планировщик Олоф Ханссон Эрнехувуд[13]. Деревня Лубья принадлежала шведскому психологу,
    теологу и священнику Хенрику Фатебуру (1588—1647) (фин. Henricus Martini Fattebuur, швед. Henrik Mårtensson
    Fattebuur), который служил пастором в городе Ниене[14].
    В XVIII—XX веках в границах современного города Всеволожска существовали мызы Рябово и Приютино. Мыза с названием
    Рябово впервые[15] упоминается в 1727 году[16]. Она находилась на Мельничном ручье — притоке реки, которая тогда
    называлась Малая Охта[17][18][19][20]. Своё современное название — Лубья — река получила только в 1792 году на карте
    окрестностей Петербурга А. М. Вильбрехта[21]. Рябово за время своего существования сменило 18 владельцев — от
    государственной казны до Лидии Филипповны Всеволожской[22]. Приютино за время своего существования сменило семь
    владельцев, от Елизаветы Марковны Олениной — жены первого директора Публичной библиотеки, президента Академии
    художеств А. Н. Оленина до владельца молочного склада Иогана-Мартына Александровича Краузе. Территории обеих имений
    вошли в состав города Всеволожска в 1963 году.
    С 1774 по 1779 год мызой Рябово владел барон Иван Юрьевич Фридрикс, который перенёс её с Мельничного ручья на
    Румболовскую гору, построил в ней первый усадебный дом, первую на территории будущего Всеволожска церковь
    (07.09.1778) — 400-местную кирху во имя св. Регины, ставшую центром Рябовского лютеранского прихода и сыроварню
    (1774 г.) — ныне самое старое здание в городе, где располагается музей Дом авиаторов[7][23].
    С 1818 по 1917 год мызой Рябово владели представители рода Всеволожских. Первый из них — Всеволод Андреевич
    Всеволожский построил новый усадебный дом, булыжную конюшню, многочисленные службы и так называемый «Красный замок»
    — газогенераторную станцию для их освещения, ныне руинированный памятник промышленной архитектуры начала XIX
    века[24]. Почти сразу он взял под залог мызы ссуду в размере 200 000 рублей и не вернул её. Долг отдавали дети,
    внуки и правнуки Всеволода Андреевича[25].
    В 1892 году было открыто движение по узкоколейной Ириновской железной дороге[26].
    В 1894 году была открыта Рябовская земская больница имени Павла и Елены Всеволожских, на основе которой в советские
    годы была создана Всеволожская центральная районная больница[27][28].
    В 1895 году недалеко от усадьбы Рябово (у пересечения нынешних Всеволожского и Октябрьского проспектов) открылась
    станция Всеволожская, названная по фамилии Павла Александровича Всеволожского, владельца земли, на которой она
    располагалась. Вокруг новой станции на землях, проданных под застройку П. А. Всеволожским, возник дачный посёлок
    Всеволожский, ставший впоследствии городом Всеволожском.
    Также железная дорога проходила через земли Иоганна Бернгарда. 18 апреля 1911 года по прошению Бернгарда станция
    «Христиновка» была переименована в «Бернгардовка» (ныне — название одного из микрорайонов Всеволожска)[29]. В черте
    современного Всеволожска дорога имела следующие остановки: платформа Приютино, платформа Марьино, станция
    Бернгардовка, платформа Павловская (существовала несколько лет), станция Всеволожская, станция Рябово, платформа
    Радостная (существовала несколько лет), станция Мельничный Ручей[30][31].
    Первая школа в дачном посёлке Всеволожский открылась в 1909 году, это была земская одноклассная школа. Она была
    создана на базе частного училища открытого годом ранее священником Свято-Троицкой церкви В. И. Сердюком. В 1916 году
    она была преобразована в двухклассную[32]. В том же 1916 году в Ильинском посёлке открылось четырёхклассное
    Всеволожское высшее начальное училище — предшественник современного всеволожского Лицея № 1 и земская Ильинская
    школа, предшественница современной Всеволожской средней школы № 5[33].
    В 1909 году врач лейб-гвардии Преображенского полка Александр Юлиусович Буш открыл в своём доме на Варшавской улице
    приют для девочек — сирот врачей в память своей рано умершей дочери Надежы. Сейчас в нём располагается Отдел по
    вопросам миграции УМВД России по Всеволожскому району[34].
    В 1923 году железная дорога была перешита на широкую колею, а также спрямлена в черте посёлка Всеволожский, в связи
    с чем к югу от пересечения современных Всеволожского проспекта и улицы Константиновской был построен новый вокзал,
    где он располагается и ныне[35].
    В 1925 году дачный посёлок Всеволожский был центром Ленинской волости Ленинградского уезда, с населением 15 617
    человек, 26 сельсоветами и 91 деревней[36]. После образования Ленинградской области в 1927 году посёлок Всеволожский
    стал административным центром Ленинского района Ленинградского округа.
    Указом Президиума Верховного Совета РСФСР от 27 ноября 1938 года дачный посёлок Всеволожский был отнесён к категории
    рабочих посёлков, с включением в его черту населённых пунктов Бернгардовка, Рябово, Ильинский, Марьино и присвоением
    наименования — рабочий посёлок Всеволожский.
    Указом Президиума Верховного Совета РСФСР от 1 февраля 1963 года рабочий посёлок Всеволожский был преобразован в
    город областного подчинения Всеволожск. Одновременно город Всеволожск был выделен из состава района и передан в
    подчинение Промышленного Облисполкома[37].
</div>
<div th:insert="~{fragments/template :: footer}" class="footer"></div>
</body>
</html>